---
import type { CollectionEntry } from "astro:content";
import EmojiIcon from "./EmojiIcon.astro";
import FormattedDate from "./FormattedDate.astro";
import { slugifyTag } from "../lib/tag";
import TagLink from "./TagLink.astro";

const { posts, class: className = "" } = Astro.props as {
	posts: CollectionEntry<"blog">[];
	class?: string;
};
---
<div class={"articleList " + className}>
  {posts.map((post, index) => (
    <div class="article fade-in" style={`--fade-in-offset: ${Math.min(12 + index * 6, 36)}px;`}>
      <a class="postLink" href={`/blog/${post.slug}/`} />
      <div class="hero surface">
        <div class="heroIconArea">
          <EmojiIcon>{post.data.heroIcon}</EmojiIcon>
        </div>
        <div class="heroContentArea">
          <h2 class="title">{post.data.title}</h2>
          <div class="heroContentMetaArea">
            <div class="date">
              <FormattedDate date={post.data.createdAt} />
            </div>
            <div class="tags">
              {post.data.tags?.map((tag) => (
                <TagLink class={"tagLinkComponent"} tag={tag} href={`/blog/tag/${slugifyTag(tag)}/`} />
              ))}
            </div>
          </div>
        </div>
      </div>
    </div>
  ))}
</div>
<style>
  .articleList {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .article {
    width: 100%;
    position: relative;
  }
  .postLink {
    position: absolute;
    inset: 0;
  }
  .hero {
    display: flex;
    color: var(--font-color-high-emphasis);
  }
  .heroIconArea {
    width: 6rem;
    font-size: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .heroContentArea {
    display: flex;
    padding: 0.5em;
    margin-left: 1rem;
    flex: 1;
    overflow-wrap: anywhere;
    flex-direction: column;
  }
  .heroContentArea * {
    margin: 0;
  }
  .heroContentArea > * + * {
    margin-top: 0.6em;
  }
  .heroContentMetaArea * {
    color: var(--font-color-medium-emphasis);
  }
  .heroContentMetaArea > * + * {
    margin-top: 0.1em;
  }
  .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.3rem;
  }
  .tagLinkComponent {
    position: relative;
  }
</style>
