---
import type { CollectionEntry } from "astro:content";
import EmojiIcon from "./EmojiIcon.astro";
import FormattedDate from "./FormattedDate.astro";
import { slugifyTag } from "../lib/tag";

const { posts, class: className = "" } = Astro.props as {
	posts: CollectionEntry<"blog">[];
	class?: string;
};
---
<div class={"articleList " + className}>
  {posts.map((post) => (
    <article class="article">
      <a class="hero surface" href={`/blog/${post.slug}/`}>
        <div class="heroIconArea">
          <EmojiIcon>{post.data.heroIcon}</EmojiIcon>
        </div>
        <div class="heroContentArea">
          <h2 class="title">{post.data.title}</h2>
          <div class="heroContentMetaArea">
            <div class="date">
              <FormattedDate date={post.data.createdAt} />
            </div>
            <div class="tags">
              {post.data.tags?.map((tag) => (
                <a href={`/blog/tag/${slugifyTag(tag)}/`} class="tag">
                  <EmojiIcon>🏷️</EmojiIcon> {tag}
                </a>
              ))}
            </div>
          </div>
        </div>
      </a>
    </article>
  ))}
</div>
<style>
  .articleList {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .article {
    width: 100%;
  }
  .hero {
    display: flex;
    color: var(--font-color-high-emphasis);
  }
  .heroIconArea {
    width: 6rem;
    font-size: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .heroContentArea {
    display: flex;
    padding: 0.5em;
    margin-left: 1rem;
    flex: 1;
    overflow-wrap: anywhere;
    flex-direction: column;
  }
  .heroContentArea * {
    margin: 0;
  }
  .heroContentArea > * + * {
    margin-top: 0.6em;
  }
  .heroContentMetaArea * {
    color: var(--font-color-medium-emphasis);
  }
  .heroContentMetaArea > * + * {
    margin-top: 0.1em;
  }
  .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.3rem;
  }
  .tag {
    display: inline-block;
    padding: 0.3rem 0.6rem;
    background: var(--surface);
    border-radius: var(--surface-radius);
    text-decoration: none;
    color: inherit;
    box-shadow: 0 2px 6px rgba(var(--gray), 25%);
  }
</style>
