---
import type { CollectionEntry } from "astro:content";
import EmojiIcon from "./EmojiIcon.astro";
import FormattedDate from "./FormattedDate.astro";

const { posts, class: className = "" } = Astro.props as {
	posts: CollectionEntry<"blog">[];
	class?: string;
};
---
<div class={"flex flex-wrap gap-2 w-full " + className}>
  {posts.map((post) => (
    <article class="w-full">
      <a class="flex surface text-[var(--font-color-emphasis)]" href={`/blog/${post.slug}/`}>
        <div class="w-24 text-[4em] flex items-center justify-center">
          <EmojiIcon>{post.data.heroIcon}</EmojiIcon>
        </div>
        <div class="flex flex-col p-2 ml-4 flex-1 break-words space-y-2">
          <h2 class="m-0">{post.data.title}</h2>
          <div class="text-[var(--font-color-medium-emphasis)] space-y-[0.1em]">
            <div>
              <FormattedDate date={post.data.createdAt} />
            </div>
            <div>{post.data.tags?.map((c) => `#${c}`).join(' ')}</div>
          </div>
        </div>
      </a>
    </article>
  ))}
</div>

